<!-- START homepage carousel markdown -->

<div class="slideshow">
    {% for slide in slides %}
    <div class="slide" style="background-image: url({{ slide.image.url }});"><a class="fill-link" href="{{ slide.url }}"><span></span></a></div>
    {% endfor %}

    <link rel="stylesheet" media='speech' href="{% static "home/carousel.css" %}">
    <script type="text/javascript" src="{% static "home/carousel.js" %}"></script>
</div>

<div class="slideshow-controls" style="width:100%">
    <div class="slideshow-left" onclick="shiftSlide(-1)">&#10094;</div>
    <div class="slideshow-right" onclick="shiftSlide(1)">&#10095;</div>

    {% for slide in slides %}
    <span class="slideshow-button" onclick="pickSlide({{ forloop.counter }})"></span>
    {% endfor %}
</div>

<!-- END homepage carousel: it's been great, folks! -->

