{% load static from staticfiles %}
{% load programs %}
{% load events %}
<!doctype html>

<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>ICR - {% block title %}{% endblock %}</title>
        <meta name="description" content="Homepage">
        <meta name="author" content="lsma">

        <link rel="stylesheet" media='screen and (min-width:   0px) and (max-width: 768px)' href="{% static "site/header-mobile.css" %}">
        <link rel="stylesheet" media='screen and (min-width: 769px)' href="{% static "site/header-desktop.css" %}">
        <link rel="stylesheet" media='speech or print' href="{% static "site/header-none.css" %}">

        <link rel="stylesheet" media='screen and (min-width:   0px) and (max-width: 480px)' href="{% static "site/mobile.css" %}">
        <link rel="stylesheet" media='screen and (min-width: 481px) and (max-width: 768px)' href="{% static "site/tablet.css" %}">
        <link rel="stylesheet" media='screen and (min-width: 769px)' href="{% static "site/desktop.css" %}">
        <link rel="stylesheet" media='speech' href="{% static "site/speech.css" %}">
        <link rel="stylesheet" media='print' href="{% static "site/print.css" %}">

        <!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    </head>

    <body>
        <div id="page-back"></div>
        <div id="page-container">
            <div id="page-content-box">
                <div id="page-header">
                    <a class="icr-banner" href="#"></a>
                    <div id="page-header-sidebox">
                        <p class="phone">
                             <span class="small">515</span> 223 1150
                        </p>
                        <div>
                            <a class="button" id="btn-listen"></a>
                            <a class="button" id="btn-donate"></a>
                        </div>
                    </div>
                </div>
                <div id="menubar-box">
                    <ul id="menubar">
                        <li class="menuitem">
                             <a href="/">Home</a>
                        </li>
                        <li class="menuitem">
                             <a href="/programs/">Programs</a>
                             {% program_menu %}
                        </li>
                        <li class="menuitem">
                             <a href="/events/">Events</a>
                             {% event_menu %}
                        </li>
                        <li class="menuitem">
                             <a href="/contact/">Contact</a>
                        </li>
                    </ul>
                </div>
                <div id="content">
                    {% block content %}{% endblock %}
                </div>
            </div>
            <div id="page-footer">
                 <h3>Iowa Catholic Radio</h3>
                <div id="footer-cols">
                    <div class="footer-col">
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Programs</a></li>
                            <li><a href="#">Events</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </div>
                    <div class="footer-col">
                        <p>Contact:</p>
                        <p class="phone">
                            <span class="small">515</span> 223 1150
                        </p>
                    </div>
                </div>
                <a href="http://masstimes.org/map?lat=41.6005448&lng=-93.60910639999997&SearchQueryTerm=Des%20Moines,%20IA,%20USA">Click here for Mass</a>
                <p>Iowa Catholic Radio © ALL RIGHTS RESERVED. </p>
            </div>
        </div>
    </body>

</html>
