{% extends "site/base.html" %}
{% load events %}

{% block title %}{{ event.title }}{% endblock %}


{% block content %}
    <div class="flex-titlebox">
    {% if event.image %}<div class="title-image event-image" style="background-image: url({{ event.image.url }});"></div>{% endif %}
    <div class="title-box">
    <h1>{{ event.title }}</h1>

    <p>
    {% if event.address %}
    <a href="https://www.google.com/maps/place/{{ event.address|urlencode }}" target="_blank">{{ event.location }}</a>
    {% else %}
    {{ event.location }}
    {% endif %}
    </p>

    <p>
    {% if event.event_start|date:"dmy" == event.event_end|date:"dmy" %}
    {{ event.event_start|date:"l, F jS, g:iA" }} to {{ event.event_end|date:"g:iA" }}
    {% else %}
    {{ event.event_start|date:"l, F jS, g:iA" }} to {{ event.event_end|date:"l, F jS, g:iA" }}
    {% endif %}
    </p>

    </div>
    </div>

    {% if event.contents or event.eid %}
    <div class="eventbox">

    {% if event.contents %}
    {% autoescape off %}
    <div class="eventbox-description">{{ event.contents|markdown }}</div>
    {% endautoescape %}
    {% endif %}

    {% if event.eid %}
    <div class="eventbox-tickets">
        <iframe src="//eventbrite.com/tickets-external?eid={{ event.eid }}&ref=etckt" frameborder="0" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true"></iframe>
    </div>
    {% endif %}

    </div>
    {% endif %}
{% endblock %}
