{% extends "site/base.html" %}
{% load events %}

{% block title %}{{ event.title }}{% endblock %}

{% block content %}
    <div class="flex-titlebox">
    {% if event.image %}<div class="title-image event-image" style="background-image: url({{ event.image.url }});"></div>{% endif %}
    <div class="title-box">
    <h1>{{ event.title }}</h1>

    <p>
    {% if event.address %}
    <a href="https://www.google.com/maps/place/{{ event.address|urlencode }}" target="_blank">{{ event.location }}</a>
    {% else %}
    {{ event.location }}
    {% endif %}
    </p>

    <p>
    {% if event.event_start|date:"dmy" == event.event_end|date:"dmy" %}
    {{ event.event_start|date:"l, F jS, g:iA" }} to {{ event.event_end|date:"g:iA" }}
    {% else %}
    {{ event.event_start|date:"l, F jS, g:iA" }} to {{ event.event_end|date:"l, F jS, g:iA" }}
    {% endif %}
    </p>

    </div>
    </div>

    {% autoescape off %}
    <div class="entry">{{ event.contents|markdown }}</div>
    {% endautoescape %}
{% endblock %}
