/*
 *  desktop.css
 *  LSMA
 *  Page styling for desktop
 *
 */

@import 'https://fonts.googleapis.com/css?family=Open+Sans|Roboto';

/* General Detail Page Elements */

.entry {
    margin: 10px 25px;
}

/* Homepage */
.home-card {
    display: block;
    max-width: 220px;
    margin: 10px;
    padding: 10px;
}

a.home-card-button {
    padding: 10px;
    margin: 5px 0;
    color: #fff;
    display: inline-block;
    background-color: #553b88;
    text-decoration: none;
    border-radius: 4px;
}


.home-card-image {
    background-position: left;
    background-size: contain;
    background-repeat: no-repeat;
}

#one-week-challenge-image {
    min-height: 400px;
    min-width: 400px;
    background-image: url("EncounterJesus_2.png");
    background-size: cover;
    background-position: center;
    background-color: white;
    background-repeat: no-repeat;
}

.home-card.owc-home-card {
    max-width: none;
}

.donate-home-card, .testimonial-home-card {
    max-width: 280px;
}

.donate-home-card p {
    font-size: 1.2em;
}

/* Event Index Page */
.listing {
    display: flex;
    flex-wrap: wrap-reverse;
    margin: 10px 25px;
}

.listing-image {
    flex: 1;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center
}

.listing-content {
    flex: 3;
}



/* Event Detail Page */
.eventbox-tickets>iframe {
    height: 100%;
}

.eventbox {
    display: flex;
}

.eventbox-description {
    margin: 0 30px;
    font-size: 1.2em;
}

.eventbox-tickets {
    min-width: 350px;
    margin: 10px 30px 0px 10px;
    min-height: 450px;
}

.flex-titlebox {
    display: flex;
    -webkit-flex-flow: row wrap-reverse;
    flex-flow: row wrap-reverse;
    -webkit-align-items: center;
    align-items: center;
}

.flex-titlebox>div {
    margin: 25px;
}

.flex-titlebox>div:first-child {
    margin-left: auto;
}

.flex-titlebox>div:last-child {
    margin-right: auto;
}

.title-image {
    background-size: cover;
    background-position: center;
    background-color: #eee;
    background-image: url('no_image.png');
    background-repeat: no-repeat;
}

.title-image.event-image {
    height: 300px;
    width: 300px;
    background-size: contain;
    background-position-x: right;
    background-color: rgba(0,0,0,0)
}

/* Program Detail Page */

.title-image.program-image {
    height: 300px;
    width: 300px;
}

.flex-programbox {
  display: flex;
  -webkit-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-align-items: stretch;
  align-items: stretch;
  padding: 0px 10px;
}

.programbox-info {
  max-width: 550px;
  font-size: 18px;
  background-color: #eee;
  padding: 10px;
  margin: 10px 10px 10px auto;
}


.programbox-podcast {
    min-width: 200px;
    max-width: 250px;
    margin: 10px auto 10px 10px;
}

.flex-programbox div:only-child {
    margin: 10px auto;
}

/* Staff Index Page */
.thumbnail {
    width: 200px;
    height: 200px;
    background-position: center;
    background-size: cover;
    margin: auto;
}

.grid {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: flex-start;
    align-items: flex-start;
}

.grid-item {
    position: relative;
    width: 250px;
    margin: 10px;
    padding: 10px;
    text-align: center;
}

.fill-link span {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}



/*
 * Program Detail Page
 */
.track-count {
    display: none;
}

.archive-item {
    width: 100%;
    text-align: center;
    background-color: #efefef;
    margin: 3px 0px;
    padding: 5px;
    box-sizing: border-box;
}

.title-image.staff-image {
    height: 200px;
    width: 200px;
}



/*   Dedicated to the Seven Swords   */