@import 'https://fonts.googleapis.com/css?family=Open+Sans|Roboto';

/* General Detail Page Elements */

.entry {
    margin: 10px 25px;
}

/* Event Index Page */
.listing {
    display: flex;
    flex-wrap: wrap-reverse;
    margin: 10px 25px;
}

.listing-image {
    display: none;
}

/* Event Detail Page */
.flex-titlebox {
    display: flex;
    -webkit-flex-flow: column-reverse wrap;
    flex-flow: column-reverse wrap;
    -webkit-align-items: center;
    align-items: center;
}

.flex-titlebox>div {
    margin: 25px 0px;
}

.title-box {
    text-align: center;
}
.event-content {
    padding: 25px;
}

.title-image {
    background-size: cover;
    background-position: center;
    background-color: #eee;
    background-image: url('no_image.png');
    background-repeat: no-repeat;
}

.title-image.event-image {
    height: 300px;
    width: 100%;
    background-size: contain;
}

/* Program Detail Page */

.title-image.program-image {
    height: 300px;
    width: 100%;
}

.flex-programbox {
  display: flex;
  -webkit-flex-flow: column-reverse nowrap;
  flex-flow: column-reverse nowrap;
  -webkit-align-items: center;
  align-items: stretch;
}

.flex-programbox>div {
    padding: 10px;
}

.programbox-info {
  font-size: 24px;
}

/* Staff Index Page */
.thumbnail {
    width: 200px;
    height: 200px;
    background-position: center;
    background-size: cover;
    margin: auto;
}
.flexc {
    display: -webkit-flex;
    display: flex;
    flex-flow: row wrap;
    -webkit-align-items: center;
}

.flexc>div {
    text-align: center;
    width: 100%;
}

.flextop {
    align-items: flex-start;
}
.flexcenter {
    align-items: center;
}
.flexbottom {
    align-items: flex-end;
}


.flex-top-main {
    -webkit-order: -1;
    order: -1;
}

.staff-detail-section {
    text-align: left;
    margin: 5px;
    padding: 5px
}

.flexc.grid {
    -webkit-justify-content: center;
    justify-content: center;
    align-items: center;
}

.grid-item {
    position: relative;
    width: 100%;
    margin: 10px;
    padding: 10px;
    text-align: center;
}

.fill-link span {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.track-count {
    display: none;
}

.archive-item {
    width: 100%;
    text-align: center;
    background-color: #efefef;
    margin: 3px 0px;
    padding: 5px;
    box-sizing: border-box;
}

.title-image.staff-image {
    height: 200px;
    width: 100%;
    background-size: contain;
}

/*   Dedicated to the Seven Swords   */