.datetime {
  width: 200px;
  height: 200px;
  overflow: hidden;
}

.datetime>div  {
  position: relative;
  padding: 10px;
}

.datetime ul {
  position: absolute;
  width: 0%;
  overflow: hidden;
  list-style: none;
  padding: 0;
  margin: 0;
  background: #330066;
  color: #330066;
}

.datetime ul:first-child, .datetime ul:target{
  width: 100%;
  background: #fff;
}