{% extends "site/base.html" %}

{% block title %}{{ prog.title }}{% endblock %}

{% block content %}
<div class="flex-titlebox">
    {% if prog.picture %}
    <div class="title-image program-image" style="background-image: url({{ prog.picture.url }})">
    </div>
    {% endif %}

    <div class="title-box">
        <h1>{{ prog.title }}</h1>
        <i>Hosts</i>
        {% for host in hosts %}
        <h2>{{ host }}</h2>
        {% endfor %}
        {% if prog.pretty_showtimes %}
        <i>Showtimes</i>
        <h3>{{ prog.pretty_showtimes }}</h3>
        {% endif %}
    </div>
</div>

{% if prog.description or links or newest_track or playlists %}
<div class="flex-programbox">
    {% if prog.description or links %}
    <div class="programbox-info">
        <p>{{ prog.description }}</p>
        {% for link in links %}
		<p><a href="{{ link.href }}">{{ link.display_text }}</a></p>
        {% endfor %}
    </div>
    {% endif %}

    {% if newest_track or playlists %}
    <div class="programbox-podcast">
        {% if newest_track %}
        <div>
            <h2>Listen to this week's show:</h2>
            <div class="soundcloud-sound-container">
                <iframe width="100%" height="20" scrolling="no" frameborder="no"
                src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/{{ newest_track.id }}&color=330066&inverse=false&auto_play=false&show_user=true"></iframe>
            </div>
        </div>
        {% endif %}

        {% if playlists %}
        <div>
            <h2>Go to Archives</h2>
            {% for playlist in playlists %}
            <a href="{{ playlist.0 }}"><div class="archive-item">20{{ playlist.0 }} <span class="track-count">{{ playlist.1 }}</i></div></a>
            {% endfor %}
        </div>
        {% endif %}
    </div>
    {% endif %}
</div>
{% endif %}
{% endblock %}
