{% extends "site/base.html" %}

{% block title %}Program Index{% endblock %}

<div class="page-title"><h1>Programs</h1></div>

{% block content %}
{% if program_list %}
    <div class="grid flexc">
    {% for program in program_list %}
        <div class="grid-item">
            <a class="fill-link" href="{{ program.get_absolute_url }}">
                <span></span>
            </a>
            {% if program.picture %}
                <div style="background-image: url({{ program.picture.url }});"
                class="thumbnail"></div>
            {% endif %}
            <h3>{{ program.title }}</h3>
            <p>
            {% for host in program.hosts.all %}
                <i>{{ host.get_full_name }}</i>
            {% endfor %}
        </div>
    {% endfor %}
    </div>
{% else %}
    <p>Hmm...<br>There don't seem to be any programs.  That's odd.</p>
{% endif %}
{% endblock %}
