{% extends "site/base.html" %}

{% block title %}{{ member.first_name|capfirst }} {{ member.last_name|capfirst }}{% endblock %}

{% block content %}
<div class="flexc flexcenter">
    <div class="flex-titlebox">
        {% if member.picture %}
        <div class="title-image staff-image" style="background-image: url({{ member.picture.url }});">
        </div>
        {% endif %}
        <div class="title-box">
            <p>
                <h1>{{ member }}</h1>
                <i>{{ member.job_title }}</i>
            </p>
            {% if member.email or member.phone %}
            <p>
                {% if member.email %}<h3><a href="mailto:{{ member.email }}">{{ member.email }}</a></h3>{% endif %}
                {% if member.phone %}<h3><a href="tel:{{ member.phone }}">{{ member.phone }}</a></h3>{% endif %}
            </p>
            {% endif %}
        </div>
    </div>
    <div class="entry">
        <p>{{ member.bio }}</p>

        {% if member.program %}
        <div>
            <a href="{{ member.program.get_absolute_url }}">{{ member }} is the host of <b>{{ member.program.title }}</b> &gt;&gt;&gt;</a>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}

