{% extends "site/base.html" %}

{% block title %}Staff Index{% endblock %}

{% block content %}
{% if staff_members %}
    <div class="grid flexc">
    {% for member in staff_members %}
        <div class="grid-item">
            <a class="fill-link" href="{{ member.get_absolute_url }}">
                <span></span>
            </a>
            {% if member.picture %}
            <img src="{{ member.picture.url }}" height="200px" class="thumbnail">
            {% endif %}
            <h3>{{ member.first_name|capfirst }} {{ member.last_name|capfirst }}</h3>
            <p><i>{{ member.job_title }}</i></p>
        </div>
    {% endfor %}
    </div>
{% else %}
    <p>Hmm...<br>There doesn't seem to be anyone here.  That's odd.</p>
{% endif %}
{% endblock %}
