{% extends "site/base.html" %}

{% block title %}Staff Index{% endblock %}

{% block content %}
<div class="page-title"><h1>Staff</h1></div>

{% if staff_members %}
    <div class="grid">
    {% for member in staff_members %}
        <div class="grid-item">
            <a class="fill-link" href="{{ member.get_absolute_url }}">
                <span></span>
            </a>
            {% if member.picture %}
            <div style="background-image: url({{ member.picture.url }});"
            class="thumbnail"></div>
            {% endif %}
            <h3>{{ member.first_name|capfirst }} {{ member.last_name|capfirst }}</h3>
            <p><i>{{ member.job_title }}</i></p>
        </div>
    {% endfor %}
    </div>
{% else %}
<div class="entry">
    <p>Hmm...<br>There don't seem to be anyone here.  That's odd.</p>
    <p>Please contact us: <a href="mailto:contact@kwky.com">contact@kwky.com</a></a></p>
</div>
{% endif %}
{% endblock %}
